<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rocket-Portal</title>
    <link rel="stylesheet" href="/css/bulma.css">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="container">
        <div class="tabs" >
            <ul id="tabs">
                <li class="tab"><a>项目说明</a></li>
                <li class="tab"><a>基础配置</a></li>
                <li class="tab"><a id="package-id">Package.json</a></li>
            </ul>
        </div>
        <div class="tabs-body">
            <div class="tabpane"><iframe src="/getReadme"></iframe></div>
            <div class="tabpane">
                <div class="columns">
                    <div class="column is-half" id="configForm">

                    </div>
                </div>
            </div>
            <div class="tabpane">
                <div class="columns">
                    <div class="column">
                        <div class="package-header">
                            <span>依赖项</span>
                            <span>现版本</span>
                            <span>新版本</span>
                        </div>
                        <ul id="packageUl" class="package-body">

                        </ul>
                        <div>
                            <div class="btn-checkall"><label class="checkbox"><input type="checkbox" id="checkAll"><span class="checkall">全选</span></label></div>
                            <div class="btn-submit"><a class="button is-primary" id="upgrade">更新</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="loading_con transition" style="display:none" id="loading">
        <div class="loading">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>

    <script id="packageTmpl" type="text/html">
        <%Object.keys(data).forEach(function(current){%>
        <li class="<%=data[current].length > 1 ? 'bg-yellow': ''%>">
            <label class="checkbox package-li">
                <div class="package-name"><input type="checkbox" name="selectFlag" value="<%=current%>"><span class="package-name-wrap"><%=current%></span></div>
                <div class="current-version"><%=data[current][0]%></div>
                <div class="latest-version">
                    <div class="latest-version-wrap">
                        <%=data[current].length > 1 ? data[current][1]: '无'%>
                    </div>
                </div>
            </label>
        </li>
        <%})%>
    </script>

    <script id="configTmpl" type="text/html">
        <div class="field">
            <label class="label">项目名称</label>
            <div class="control">
                <input class="input control-input" value="<%=data.project%>" name="project" type="text" placeholder="项目名称">
            </div>
        </div>
        <div class="field">
            <label class="label">dev环境静态资源地址</label>
            <div class="control">
                <input class="input control-input" value="<%=data.devUrl%>" name="devUrl" type="text" placeholder="dev环境静态资源地址">
            </div>
        </div>
        <div class="field">
            <label class="label">pre环境静态资源地址</label>
            <div class="control">
                <input class="input control-input" value="<%=data.preUrl%>" name="preUrl" type="text" placeholder="pre环境静态资源地址">
            </div>
        </div>
        <div class="field">
            <label class="label">prod环境静态资源地址</label>
            <div class="control">
                <input class="input control-input" value="<%=data.prodUrl%>" name="prodUrl" type="text" placeholder="prod环境静态资源地址">
            </div>
        </div>
        <div class="field">
            <label class="label">dev环境API地址</label>
            <div class="control">
                <input class="input control-input" value="<%=data.devApi%>" name="devApi" type="text" placeholder="dev环境API地址">
            </div>
        </div>
        <div class="field">
            <label class="label">pre环境API地址</label>
            <div class="control">
                <input class="input control-input" value="<%=data.preApi%>" name="preApi" type="text" placeholder="pre环境API地址">
            </div>
        </div>
        <div class="field">
            <label class="label">prod环境API地址</label>
            <div class="control">
                <input class="input control-input" value="<%=data.prodApi%>" name="prodApi" type="text" placeholder="prod环境API地址">
            </div>
        </div>
        <a class="button is-primary" id="submit">提交</a>
    </script>

    <script src="/js/jquery.min.js"></script>
    <script src="/js/gmp.min.js"></script>
    <script src="/js/index.js"></script>
</body>
</html>